<header class="page-header">
  <h1 class="visually-hidden">Яндекс Дом</h1>
  <div class="page-header__inner container">
    <a class="page-header__logo" href="#">
      <img src="images/logo.svg" width="113" height="38" alt="Яндекс Дом">
    </a>
    <nav class="page-header__nav header-menu">
      <button class="header-menu__button js-menu-button" type="button">
        <span class="visually-hidden">Меню</span>
      </button>
      <ul class="header-menu__list">
        <li class="header-menu__item header-menu__item--current">
          <a class="header-menu__link" href="#">События</a>
        </li>
        <li class="header-menu__item">
          <a class="header-menu__link" href="#">Сводка</a>
        </li>
        <li class="header-menu__item">
          <a class="header-menu__link" href="#">Устройства</a>
        </li>
        <li class="header-menu__item">
          <a class="header-menu__link" href="#">Сценарии</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
